@charset "GBK";
#serviceSort{
	min-height: 400px;
}
.service{
	width:376px;
	height:150px;
	background-color: #d0c4c6;
	margin-right: 17px;
	margin-bottom: 17px;
	float:left;
}
.service a{
	width: 400px;
	display: flex;
	flex-direction: row;
	margin-top: 16px;
	margin-left: 40px;
	color: rebeccapurple;
	cursor:pointer;
}
.service a:hover{
	color:red;
}
.service .service-icon{
	font-size: 120px;
}
.service .service-title{
	font-size: 37px;
	position: relative;
	top: 16px;
}
.service .service-en{
	font-size: 15px;
	position: relative;
	top: 68px;
	left: -113px;
}
.service-body{
	width:100%;
	border-bottom: 1px solid;
	height: 240px;
	margin-bottom: 15px;
}
.service-body .service-intro{
	padding-top: 15px;
}
.service-body .service-intro
.service-intro-item{
	display: flex;
	padding-left: 30px;
}
.service-body .service-intro
.service-intro-item .title{
	margin-right: 15px;
	width: 86px;
	margin-bottom: 15px;
	font-size: 17px;
	color: #bbb1b1;
}
.service-body .service-intro
.service-intro-item .value{
	font-size: 20px;
}
