@charset "UTF-8";
#serviceSort{
	min-height: 400px;
}
.service{
	width:376px;
	height:150px;
	background-color: #d0c4c6;
	margin-right: 17px;
	margin-bottom: 17px;
	float:left;
}
.service a{
	width: 400px;
	display: flex;
	flex-direction: row;
	margin-top: 16px;
	margin-left: 40px;
	color: rebeccapurple;
}
.service a:hover{
	color:red;
}
.service .service-icon{
	font-size: 120px;
}
.service .service-title{
	font-size: 37px;
	position: relative;
	top: 16px;
}
.service .service-en{
	font-size: 15px;
	position: relative;
	top: 68px;
	left: -113px;
}