@charset "GBK";
.local-l{
	width: 400px;
	display: flex;
}
.local-l .localtion{
	display: flex;
}
.local-l .localtion .top-local{
	display: flex;
	color: #000;
	margin-right: 10px;
}
.header{
	color:pink;
}
#mc-menu-shop,#mc-menu-service{
	text-decoration: underline;
	color:blue;
	cursor: pointer;
}
#mc-menu-localCity{
	color:red;
}