* {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-decoration: none;
    color: black;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
}

.main {
	position:fixed;
	max-height: 620px;
    width: 1005px;
    margin: auto;
    box-shadow: 0 0 3px 5px #e1e1e1;
    top: 95px;
	left: 430px;
	background-color: #fff;
	z-index: 100000;
	display:none;
}

.main .top {
    width: 1005px;
    height: 60px;
    background-color: #3bb4f2;
    cursor: all-scroll;
}

.main .top .top-left {
    height: 100%;
    width: 200px;
    float: left;
    position: relative;
}

.main .top .top-left .header {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    line-height: 60px;
    display: inline-block;
    margin: 6px;
    border: 1px solid transparent;
}

.main .top .top-left .header:hover {
    border: 1px solid white;
}

.main .top .top-right{
	float:right;
	padding-right: 15px;
	cursor: pointer;
}
.main .top .top-right i{
	font-size:30px;
}
.main .top .top-right i:hover{
	color:red;
}

.main .box {
    width: 100%;
    height: 542px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main .box .chat-list {
    float: left;
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    overflow-x: scroll;
    /*overflow-y: scroll;*/
}

.main .box .chat-list .list-box {
    height: 80px;
    width: 250px;
}

.main .box .chat-list .list-box.select {
    background-color: #dbdbdb;
}

.main .box .chat-list .list-box:hover {
    background-color: #dbdbdb;
}

.main .box .chat-list .list-box img.chat-head {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
    margin: 15px 10px;
}

.main .box .chat-list .list-box .chat-rig {
    float: right;
    height: 50px;
    width: 178px;
    margin: 15px 0;
}

.main .box .chat-list .list-box .chat-rig .title {
    font-weight: 600;
    font-size: 17px;
    /*overflow: hidden;*/
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main .box .chat-list .list-box .chat-rig .text {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #6C6C6C;
}

.main .box .box-right {
    float: left;
    width: 750px;
    height: 100%;
}

.main .box .box-right .receiveBox {
    width: 752px;
    height: 439px;
}

.main .box .box-right .receiveBox .nav-top {
    height: 45px;
    width: 100%;
}

.main .box .box-right .receiveBox .nav-top p {
    line-height: 45px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 25px;
}

.main .box .box-right .receiveBox .news-top {
    height: 395px;
    border-top: 1px solid #6C6C6C;
    border-bottom: 1px solid #6C6C6C;
    overflow-y: scroll;
}

.main .box .box-right .receiveBox .news-top ul {
    height: 100%;
    width: 100%;
}

.main .box .box-right .receiveBox .news-top ul li {
    margin: 10px;
    min-height: 80px;
    position: relative;
    overflow: hidden;
}

.main .box .box-right .receiveBox .news-top ul li .avatar img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.main .box .box-right .receiveBox .news-top ul li .msg {
    top: -10px;
    margin: 8px;
    min-height: 80px;
}

.main .box .box-right .receiveBox .news-top ul li .msg .msg-text {
    background-color: #eeeeee;
    border-radius: 15px;
    padding: 15px;

    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.main .box .box-right .receiveBox .news-top ul li.self .msg .msg-text {
    margin-left: 50px;
}

.main .box .box-right .receiveBox .news-top ul li.other .msg .msg-text {
    margin-right: 50px;
}

.main .box .box-right .receiveBox .news-top ul li.self .msg .msg-time {
    text-align: right;
}

.main .box .box-right .receiveBox .news-top ul li.other .msg .msg-time {
    text-align: left;
}

.main .box .box-right .receiveBox .news-top ul li.other .avatar {
    position: absolute;
    left: 0;
    top: 0;
}

.main .box .box-right .receiveBox .news-top ul li.other .msg {
    position: absolute;
    left: 40px;
}

.main .box .box-right .receiveBox .news-top ul li.self .avatar {
    position: absolute;
    right: 0;
    top: 0;
}

.main .box .box-right .receiveBox .news-top ul li.self .msg {
    position: absolute;
    right: 40px;
}

.main .box .box-right .sendto {
    width: 752px;
    height: 103px;
}

.main .box .box-right .sendto .but-text textarea {
    border: none;
    font-size: 22px;
    margin-left: -2px;
    width: 732px;
    height: 75px;
    border-top: 1px solid #000;
}

.main .box .box-right .sendto .but-text .sendBtn {
    float: right;
    padding: 0 15px;
    background-color: #3bb4f2;
    margin-right: 17px;
    height: 23px;
}

/*空输入提示*/
.but-text .chat-hint {
    display: none;
    position: absolute;
    /*top: -15px;*/
    /*left: 20px;*/
    padding: 2px;
    width: 140px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
    background-color: #fff;
}

.but-text .chat-hint-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    vertical-align: middle;
    line-height: 18px;
    color: #fff;
    border-radius: 50%;
    background-color: #5d94f3;
}

.but-text .chat-hint-text {
    display: inline-block;
    vertical-align: middle;
}

.sendto .zyf-tip {
    display: inline-block;
    position: relative;
}

.sendto .zyf-tip:before, .zyf-tip:after {
    opacity: 0; /*透明度为完全透明*/
    position: absolute;
    z-index: 1000; /*设为最上层*/
    /*鼠标放上元素上时的动画，鼠标放上后效果在.zyf-tip-*:hover:before, .zyf-tip-*:hover:after中设置;
    0.3s:规定完成过渡效果需要多少秒或毫秒,ease:规定慢速开始，然后变快，然后慢速结束的过渡效果*/
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
}

.sendto .zyf-tip:before {
    content: '';
    border: 6px solid transparent;
}

.sendto .zyf-tip:after {
    content: attr(data-zyf-tip); /*后去要提示的文本*/
    padding: 5px;
    white-space: nowrap; /*强制不换行*/
    background-color: #ffffff;
    color: #000000;
}

.sendto .zyf-tip:hover:before, .zyf-tip:hover:after {
    opacity: 1; /*鼠标放上时透明度为完全显示*/
    z-index: 1000;
}

.sendto .zyf-tip-left:before {
    top: 50%;
    left: 0;
    border-left-color: rgba(255, 255, 255, 0.8);
    margin-left: 0;
    margin-top: -3px;
}

.sendto .zyf-tip-left:after {
    top: 50%;
    right: 100%;
    margin-right: 0;
    margin-top: -6px;
}

.sendto .zyf-tip-left:hover:before {
    margin-left: -6px;
}

.sendto .zyf-tip-left:hover:after {
    margin-right: 6px;
}