#addr_1,#addr_2,#addr_3{
	margin-top: 4px;
	hight:48px;
	max-width: 87px;
	border-color: #fff;
}
#addr_1{
	margin-left: -2px;
}
#addr_2,#addr_3{
	margin-left: -4px;
}
.shopDetail{
	position: absolute;
	top: 188px;
	right: 55px;
	width: 300px;
	height: 68px;
	display: flex;
	background-color: rgba(255,255,255,0);
	z-index: 1000;
}
.shopDetail img{
	border-radius: 30px;
	width: 60px;
	height: 60px;
}
.shopDetail p{
	margin-top: 20px;
	margin-left: 7px;
	font-size: 20px;
}
.shopDetail a{
	margin-top: 22px;
	margin-left: 4px;
	font-size: 10px;
	background-color: red;
	height: 18px;
}